<template>
  <nav>
    <ul>
      <li><router-link to="/">Homepage</router-link></li>
      <li>
        <router-link to="/record" data-testid="link-to-recordwizard">Record Wizard</router-link>
      </li>
      <li><router-link to="/my-upload-batches">My Upload Batches</router-link></li>
    </ul>
  </nav>
</template>

<script></script>

<style scoped>
nav {
  flex: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  padding: 1em;
}
</style>
