<template>
  <h2>Word list</h2>
  <CdxField>
    <CdxTextInput
      v-model="inputWords"
      clearable
      placeholder="Entrez ici le mot à enregistrer"
      @keydown.enter="addWords()"
    />
    <template #help-text>
      <p>
        Pour différencier deux homographes, spécifiez le sens entre parenthèses, par exemple « fils
        (lien de parenté) » vs « fils (pluriel de fil) ».
      </p>
      <p>
        Pour ajouter plusieurs mots en une seule fois, séparez-les par des #, par exemple «
        grande#maison#orange ».
      </p>
    </template>
  </CdxField>
  <div>
    <WordList
      :words="store.words"
      :primary-action="deleteWordAction"
      @primary="(word, index) => store.words.splice(index, 1)"
    ></WordList>
  </div>
  <div>
    <CdxButton action="destructive" size="large" disabled>
      Retirer les mots déjà enregistrés
    </CdxButton>
    <CdxButton
      action="destructive"
      size="large"
      weight="primary"
      :disabled="store.words.length == 0"
      @click="clearList()"
    >
      Effacer la liste
    </CdxButton>
  </div>
</template>

<script setup>
import { CdxButton, CdxField, CdxTextInput } from '@wikimedia/codex'
import { cdxIconTrash } from '@wikimedia/codex-icons'
import { ref } from 'vue'
import { useRecordWizardStore } from '@/stores/recordwizard'
import WordList from '@/components/WordList.vue'

const emit = defineEmits(['canGoToNextStep', 'canNotGoToNextStep'])

const store = useRecordWizardStore()

const inputWords = ref('')
const deleteWordAction = {
  label: 'Delete word',
  icon: cdxIconTrash,
}

const clearList = function () {
  store.words = []
  emit('canNotGoToNextStep')
}

const addWords = function () {
  if (inputWords.value.length === 0) {
    return
  }

  store.addWords(inputWords.value)

  inputWords.value = ''
  emit('canGoToNextStep')
}
</script>
